.page-blocker{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

.username-window{
    position: relative;
    margin: 0 auto;
    top: 20%;
    width: 50%;
    padding: 5px;
    background: rgba(255, 255, 255, 1.0);
    border-radius: 10px;
}

.username-window h4{
    text-align: center;
}

.user-info-box{
    text-align: center;
}

.user-info-box img{
    display: block;
    margin: 0 auto;
}

.img-round{
    border-radius: 50%;
}

.item{
    height: 85px;
    border: 1px solid #cccccc;
    padding: 0 !important;
    margin-top: 7px;
    box-sizing: border-box;
    border-radius: 4px;
}

.item .row, .no-space{
    margin: 0;
    padding: 0;
}

.item-vote-section{
    margin-left: 0;
    float: left;
    height: 100%;
    width: 100px;
    text-align: center;
}

.item-vote-section .row{
    height: 100%;
}

.item-vote-arrows .material-icons{
    font-size: 30px;
    cursor: pointer;
}

.item-vote-total{
    font-weight: bold;
    font-size: 22px;
}

.item-main-section{
    height: 100%;
    margin-left: 105px;
    padding-left: 5px;
}

.item-main-section .row .col{
    padding: 0px !important;
}

.item-main-title{
    height: 60px;
    font-size: 20px;
}

.item-main-title span{
    display: inline;
    font-size: 12px;
    color: #494949;
}

.item-main-sub, .item-main-sub a{
    color: #888888;
}

.item-main-sub a:hover{
    text-decoration: underline;
}

.post-title{
    font-size: 40px;
    text-align: center;
}

.post-details{
    text-align: center;
}

.post-content{
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    box-sizing: border-box;
}

.post-content p{
    margin: 0;
    margin-bottom: 15px;
}

.comment{
    border: 1px solid #AAAAAA;
    margin-top: 7px;
    border-radius: 5px;
    color: #555555;
}

.comment:hover{
    border: 1px solid #000000;
    color: #000000;
}

.comment:nth-child(1n+1){
    margin-left: 10px;
}

.comment-children{
    padding-left: 10px;
    padding-right: 3px;
}

.comment-top{
    height: 15px;
    font-size: 12px;
}

.post-submit-form{
    margin-top: 10px;
}

.post-votes{
    font-size: 30px;
}

.vote-arrow{
    cursor: pointer;
}

.login-error-box{
    border: 1px solid #FF0000;
    margin-left: 25px;
    margin-right: 25px;
}

.logout{
    cursor: pointer;
}

.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.loader-image{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.hand{
    cursor: pointer;
}

pre{
    scrollbar-arrow-color: #FF0000;
    white-space: pre-wrap;
}

.comment-votes{
    display: inline-block;
}

.comment-votes i{
    font-size: 15px;
}

.user-page-column{
    margin-left: 5px !important;
    margin-right: 5px !important;
}